<div class="container orange">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="card">
        <h3>Q: <%= @query %>?</h3>
        <span> - <%= @debile.sample %></span>
        <br>
        <br>
        <%= link_to 'Ask for a new question', ask_path %>
      </div>

    </div>
  </div>
</div>
