<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="card">
        <form action="/answer">
          <label for="question">Speak to your coach</label>
          <input type="text" id="question" name="query" class="form-control" placeholder="stupid question ?">
          <input type="submit" value="Go on!" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
